<%if @count == -1%>
<%= render partial: 'category', collection: @posts.where("category_id = " + @categoryClicked.id.to_s()), locals: {show_link: false}%>
<%elsif @id == "1"%>
<div class ="ui small images">
<%Category.where("id IN (" + @categories.ids.join(",") + ")").each do |cat|%>
  <div class="<% if @count % 2 == 0 %>evenCategory<%else%>oddCategory<%end%>">
    <div class="pictureContent">
      <h3><%=link_to cat.name, cat%></h3>
      <%= render partial: 'category', collection: @posts.where("category_id = " + cat.id.to_s()), locals: {show_link: false}%>
      <% @count += 1%>
    </div>
  </div>
<%end%>
<%else%>
<div class="ui center aligned items"id="postList">
<%Category.where("id IN (" + @categories.ids.join(",") + ")").each do |cat|%>
  <div class="<% if @count % 2 == 0 %>evenCategory<%else%>oddCategory<%end%>">
    <div class="pictureContent">
    <h3><%=link_to cat.name, cat%></h3>
        <%= render partial: 'category', collection: @posts.where("category_id = " + cat.id.to_s()), locals: {show_link: false}%>
        <% @count += 1%>
      </div>
  </div>
  <%end%>
<%end%>
</div>
