<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <select>
      <%Category.order(:name).each do |category|%>
        <option value="<%=category.id%>"><%=category.name%></option>
      <%end%>
    </select>
    <%= yield %>
  </body>
</html>
